input:not([type]), input[type=text], input[type=password],
input[type=email], input[type=url], input[type=time],
input[type=date], input[type=datetime], input[type=datetime-local],
input[type=tel], input[type=number], input[type=search] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]) {
    border-bottom: 1px solid #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
}

input:not([type])+label:after, input[type=text]+label:after, input[type=password]+label:after,
input[type=email]+label:after, input[type=url]+label:after, input[type=time]+label:after,
input[type=date]+label:after, input[type=datetime]+label:after, input[type=datetime-local]+label:after,
input[type=tel]+label:after, input[type=number]+label:after, input[type=search]+label:after {
    display: block;
    content: "";
    position: absolute;
    top: 60px;
    opacity: 0;
    transition: .2s opacity ease-out, .2s color ease-out;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:focus:not([readonly])+label,
input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label,
input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label,
input[type=date]:focus:not([readonly])+label, input[type=datetime]:focus:not([readonly])+label,
input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label,
input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label {
    color: #26a69a;
    font-size: 1rem;
    -webkit-transform: translateY(-140%);
    transform: translateY(-140%);
}

.flex-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

form {
    width: 400px;
    padding: 3em;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 2px 0 rgba(0,0,0,.12);
}

.field-group {
    position: relative;
    margin-top: 1rem;
}

.field-group label {
    left: 0.75rem;
}

.field-group label {
    color: #9e9e9e;
    position: absolute;
    top: 0.8rem;
    left: 0;
    font-size: 1.6rem;
    cursor: text;
    transition: .2s ease-out;
    z-index: -1;
}
